body {
    margin: 0;
}

body {
    --tw-bg-opacity: 1;
    background-color: rgb(23 23 23/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(212 212 212/var(--tw-text-opacity));
    font-family: Roboto Serif,ui-serif,Georgia,Cambria,Times New Roman,Times,serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.border-b {
    border-bottom-width: 1px;
}
.justify-around {
    justify-content: space-around;
}

.flex {
    display: flex;
}
.z-50 {
    z-index: 50;
}
.top-0 {
    top: 0;
}
.sticky {
    position: sticky;
}

.dark\:bg-neutral-800\/75 {
    background-color: rgba(38,38,38,.75);
}

.dark\:border-neutral-50\/\[0\.06\] {
    border-color: hsla(0,0%,98%,.06);
}

.duration-500 {
    transition-duration: .5s;
}
.transition-colors {
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.dark\:text-accent-dark {
    --tw-text-opacity: 1;
    color: rgb(192 132 252/var(--tw-text-opacity));
}

.dark\:text-neutral-300 {
    --tw-text-opacity: 1;
    color: rgb(212 212 212/var(--tw-text-opacity));
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.max-w-screen-lg {
    max-width: 1024px;
}

.w-full {
    width: 100%;
}
.h-20 {
    height: 5rem;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.md\:gap-10 {
    gap: 2.5rem;
}
.gap-5 {
    gap: 1.25rem;
}
.justify-start {
    justify-content: flex-start;
}

.items-center {
    align-items: center;
}
.grid-flow-col {
    grid-auto-flow: column;
}
.h-full {
    height: 100%;
}
.grid {
    display: grid;
}

.font-semibold {
    font-weight: 600;
}
.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}
.p-2 {
    padding: 0.5rem;
}

.grid {
    display: grid;
}

a:-webkit-any-link {
    color: rgb(255 0 255/var(--tw-text-opacity));;
    cursor: pointer;
    text-decoration: none;
}

.dark\:border-accent-dark {
    --tw-border-opacity: 1;
    border-color: rgb(192 132 252/var(--tw-border-opacity));
}
.border-accent {
    --tw-border-opacity: 1;
    border-color: rgb(147 51 234/var(--tw-border-opacity));
}
.border-2 {
    border-width: 2px;
}
.rounded-full {
    border-radius: 9999px;
}
.place-items-center {
    place-items: center;
}
.w-10 {
    width: 2.5rem;
}
.h-10 {
    height: 2.5rem;
}
.grid {
    display: grid;
}
.relative {
    position: relative;
}
a {
    color: inherit;
    text-decoration: inherit;
}

.py-16 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.max-w-screen-lg {
    max-width: 1024px;
}

.m-auto {
    margin: auto;
}

.p-4 {
    padding: 1rem;
}

.items-start {
    align-items: flex-start;
}
.flex-col {
    flex-direction: column;
}
.max-w-3xl {
    max-width: 48rem;
}
.flex {
    display: flex;
}
.mb-16 {
    margin-bottom: 4rem;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.gap-12 {
    gap: 3rem;
}
.grid-cols-\[repeat\(auto-fit\2c _minmax\(22\.5rem\2c _1fr\)\)\] {
    grid-template-columns: repeat(auto-fit,minmax(22.5rem,1fr));
}
.max-w-3xl {
    max-width: 48rem;
}
.grid {
    display: grid;
}
.mb-16 {
    margin-bottom: 4rem;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.dark\:border-accent-dark {
    --tw-border-opacity: 1;
    border-color: rgb(192 132 252/var(--tw-border-opacity));
}
.shadow {
    --tw-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px -1px rgba(0,0,0,.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}
.border-accent {
    --tw-border-opacity: 1;
    border-color: rgb(147 51 234/var(--tw-border-opacity));
}
.border-2 {
    border-width: 2px;
}
.rounded-full {
    border-radius: 9999px;
}
.w-32 {
    width: 8rem;
}
.h-32 {
    height: 8rem;
}
.mb-4 {
    margin-bottom: 1rem;
}
.relative {
    position: relative;
}

.dark\:text-accent-dark {
    --tw-text-opacity: 1;
    color: rgb(192 132 252/var(--tw-text-opacity));
}
.text-accent {
    --tw-text-opacity: 1;
    color: rgb(255 0 255/var(--tw-text-opacity));
}
.tracking-tighter {
    letter-spacing: -.05em;
}
.leading-\[0\.9em\] {
    line-height: 0em;
}
.text-\[5rem\] {
    font-size: 5rem;
}
h1 {
    font-family: Roboto Serif,ui-serif,Georgia,Cambria,Times New Roman,Times,serif;
    font-size: 3rem;
    line-height: 1;
}

h1, h2, h3, h4, h5 {
    --tw-text-opacity: 1;
    color: rgb(212 212 212/var(--tw-text-opacity));
}
h1, h2, h3, h4, h5 {
    font-weight: 700;
    letter-spacing: -.025em;
    --tw-text-opacity: 1;
    color: rgb(38 38 38/var(--tw-text-opacity));
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.mt-4 {
    margin-top: 1rem;
}
li, p {
    line-height: 1.5rem;
}
ol, p, ul {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.gap-12 {
    gap: 3rem;
}
.grid-cols-\[repeat\(auto-fit\2c _minmax\(22\.5rem\2c _1fr\)\)\] {
    grid-template-columns: repeat(auto-fit,minmax(22.5rem,1fr));
}
.max-w-3xl {
    max-width: 48rem;
}
.grid {
    display: grid;
}
.mb-16 {
    margin-bottom: 4rem;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.p-4 {
    padding: 1rem;
}
.flex-col {
    flex-direction: column;
}
.flex {
    display: flex;
}

.text-4xl {
    font-family: Roboto Serif,ui-serif,Georgia,Cambria,Times New Roman,Times,serif;
    font-size: 2.25rem;
    line-height: 2.5rem;
    color: #fff;
}

.my-4 {
    font-family: Roboto Serif,ui-serif,Georgia,Cambria,Times New Roman,Times,serif;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
li, p {
    line-height: 1.5rem;
}

.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}
.gap-2 {
    gap: 0.5rem;
}
.justify-start {
    justify-content: flex-start;
}
.items-center {
    align-items: center;
}
.w-fit {
    width: -moz-fit-content;
    width: fit-content;
}
.flex {
    display: flex;
}
.my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
a {
    color: inherit;
    text-decoration: inherit;
}

.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}
.gap-2 {
    gap: 0.5rem;
}
.justify-start {
    justify-content: flex-start;
}
.items-center {
    align-items: center;
}
.w-fit {
    width: -moz-fit-content;
    width: fit-content;
}
.flex {
    display: flex;
}
.my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
a {
    color: inherit;
    text-decoration: inherit;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.dark\:border-neutral-50\/\[0\.06\] {
    border-color: hsla(0,0%,98%,.06);
}

.pb-12 {
    padding-bottom: 3rem;
}
.pt-6 {
    padding-top: 1.5rem;
}
.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.border-neutral-900\/10 {
    border-color: hsla(0,0%,9%,.1);
}
.border-t {
    border-top-width: 1px;
}
.place-items-center {
    place-items: center;
}
.grid {
    display: grid;
}

.text-center {
    text-align: center;
}
.my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
li, p {
    line-height: 1.5rem;
}

.flex {
    display: flex;
}
.my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}